<!DOCTYPE html >
<html lang="en">
<!-- kluchey.github.io -->
<!-- TEMPLATE -->
<head>
	<!--Typical Page Declarations-->
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<!--Custom Page Declarations-->
	<title>TEMPLATE</title>
	<meta name="keywords" content="TEMPLATE" />
	<meta name="description" content="TEMPLATE" />
	<!--Search Engine Visitors-->
	<meta name="Revisit-After" content="3 Days" />
	<meta name="robots" content="all, index" />
	<!--Adjust Size to Mobile Screen-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Icon-->
	<link rel="shortcut icon" href="http://kluchey.github.io/images/buttons/icon.svg" />
	<!--JQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!--Stylesheets-->
		<!--Bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!--Custom-->
		<link rel="stylesheet" href="http://kluchey.github.io/css-style/main.css">
</head>
<!-- Neck -->
<body>
<!--Entire Webpage Content Wrapper-->
<div id="webpage" style="display: none;">
	<!--Beginning of Header-->
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="http://kluchey.github.io">
					<img src="images/buttons/icon.svg" alt="logo" style="width:auto;height:23px">
				</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><a class="active" href="http://kluchey.github.io">Kieran</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://ca.linkedin.com/in/kierancluchey" alt="linkedin">LinkedIn</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--End of Header-->
	<!--Beginning of Content-->
</div>
<!-- Scripts -->
<script src="app.js"></script>
</body>
<!-- kluchey.github.io -->
<!-- TEMPLATE -->
</html>