* {
  margin: 0px;
  padding: 0px; 
  outline: none;
  border: 0px;
}
body, .jumbotron {
	background-color: #ffffff;
}

a {
	color: darkblue;
}

h1 {
	color: white;
	font-size: 50px;
}
p {
	margin: 5px;
	padding: 10px;
	background-color: rgba(225, 245, 255, 1);
	font-size: 15px;
	margin-top: 1em;
    margin-bottom: 1 em;
	border-radius: 3px;
	font-weight: bold;
	letter-spacing: 0px;
	line-height: 24px;
	color: rgb(66, 66, 66);
	text-indent: 50px;
}
li {
		background-color: rgba(225, 245, 255, 0);
}

.header {
	padding: 5px;
	background-color: white;
	border-bottom: 2px solid #dbdbdb;
	left: 0;
	right: 0;
	margin: auto;
	position: fixed;
	height: auto;
	z-index: 999;
	background-color:rgba(0, 0, 0, 1);
	color: white;
}

#webpage {
	background: url(../images/tranquil-tree.jpg) repeat center center fixed;
	background-size: 100% auto;
	background-position: left top;
	box-shadow: 0px 10px 15px rgba(0,0,0,.4);
}

@media screen and (min-width: 790px) {
  #webpage {
    background-position: left 55%;
  }
}

.full-height {
	height: 100vh;
}

.row {
	padding-top: 0px;
	padding-bottom: 20px;
	margin-bottom: 0px;
	border-bottom: 0px solid #dbdbdb;
	border-radius: 3px;
}

.jumbotron {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0px;
	border-bottom: 0px solid #dbdbdb;
	position: relative;
	top: 0px;
	color:white;
}

@media screen and (max-width: 451px) {
	.jumbotron {
		background-size: auto 100%;
	}
}

.container {
	padding-bottom: 40px;
}

.exp {
	position: relative;
	top: 0px;
}

.footer {
	position: relative;
	top: 0px;
	background-color: white;
}

.gone {
	display: none;
}

ul { 
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

ul.supadupa {
	padding-left: 0;
	margin-bottom: 0;
	text-align: center;
}

ul.dropdown-menu img{
	height: 20px;
	width: auto;
}
ul.poetry {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
ul.poetry li {
	padding: 0;
	margin: 0;
	background-color: #666666;
	border-bottom: 1px solid #CCCCCC;
	list-style-type: none;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 200px;
}
ul.poetry li:nth-child(even) {
	background-color: #000000;
}
ul.poetry li:hover {
	background-color: #4CAF50;
}
ul.poetry a {
	text-decoration: none;
	color: black;
}
ul.poetry img {
	width: 100%;
}
ul.supadupa img{
	height: 20px;
	width: auto;
}

ul.supadupa li{
	margin: 5px;
	padding: 10px;
	background-color: rgba(225, 245, 255, 1);
	list-style: none;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 3px;
}

ul.favlinks li:hover{
	background-color: #2196F3;
}

ul.favtools li:hover{
	background-color: #FFC107;
}

ul.favcom li:hover{
	background-color: #4CAF50;
}
.centreText {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	letter-spacing: 2vw;
	line-height: 42px;
}
.topText {
	position: relative;
	top:50%;
	display: block;
	color: white;
}