.header {
	padding: 5px;
	background-color: white;
	border-bottom: 2px solid #dbdbdb;
}

.jumbotron {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0px;
	background-color: #e1eaea;
	border-bottom: 2px solid #dbdbdb;
}

.footer {
	
}