/*html { 
  background-color: black;
  background: url(../images/bwback.jpg) no-repeat center center fixed; 
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

.first {
    margin-bottom: 0px;
    background: url(../images/bw-falls.jpg) no-repeat center center fixed; 
    background-position: center center;
    background-size: cover;
	color: white;
}

h1, h2, p, a {
	color: black;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	font-weight: normal;
	display: inline-block;
	padding-bottom: calc(10px + 1vw);
}

h3 {
	font-weight: bold;
	padding-bottom: 1vh;
}
/*
#webpage {
	position:absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	/* background-color: rgba(0,0,0,0.42);
	/* background: -webkit-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,0.42)); /*Safari 5.1-6*/
	/* background: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.42)); /*Opera 11.1-12*/
	/* background: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.42)); /*Fx 3.6-15*/
	/* background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.42)); /*Standard*/
/*}
*/
#social-media {
	padding-top: 0px;
}

#social-media ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#social-media li {
	display: inline;
}

#social-media a {
	 color: white;
}

#social-media a:hover {
	color: #337ab7;
}

#social-media a {
	padding-left: calc(4px + 0.5vw);
	padding-right: calc(4px + 0.5vw)
}

.instaimage {
	border-style: solid;
	border-width: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	border-color: white;
}

.instaimage:hover {
	border-style: solid;
	border-width: 5px;
	border-color: grey;
}

.large-icons i {
	font-size: 30px;
}
.large-icons a {
	text-decoration: none;
}

#social-media > a:not(:first-child) {
	padding-left: calc(5px + 1vw);
}

h1 {
	letter-spacing: calc(8px + 2vw);
	padding-bottom: 0px;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 8vw;
}

.first {
	text-align: center;
	box-shadow: 0px 10px 15px rgba(0,0,0,.4);
}

.vcentre {
	padding-top: calc(20px + 5vh);
}

.row {
	padding-top: 25px;
	padding-bottom: 0px;
}

.row p, a {
	color: black;
	font-size: 16px;
	padding-bottom: 0px;
}


.staticleft {
	position: absolute;
	right: calc(20px + 1vw);
	top: 4vh;
	z-index: 100;
}

.jumbotron {
	height: calc(15vh + 160px);
	background-color: DIMGRAY;
	padding-top: calc(20px + 1vw);
	padding-left: calc(20px + 1vw);
	padding-bottom: 10px;
	margin-bottom: 0px;
	border-bottom: 0px solid #dbdbdb;
	position: relative;
	top: 0px;
	
}



/* This is just some basic responsive styling */
ul.flickrSet {
	padding:0;
	margin:0;
	list-style:none;
}
ul.flickrSet li {float:left; width:48%; padding:0.25%; margin:0;
}

ul.flickrSet li a {
	border-style: solid;
	border-width: 5px;
	border-color: white;
}
ul.flickrSet li a:hover {
	border-style: solid;
	border-width: 5px;
	border-color: grey;
}
ul.flickrSet li a.flickrImageLink {width:100%; height:312.5px; overflow:hidden; display:block; background-position:50% 50%; background-repeat:no-repeat; text-indent:-999px; background-size:cover;}
ul.flickrSet li a.flickrImageLink span,
ul.flickrSet li a.flickrImageLink img {display:none;} /* Hiding inline title and image element */
ul.flickrSet li.flickrSetClr {clear:both; height:0; line-height:0; float:none; padding:0; margin:0; border:none;}

@media all and (min-width:321px) and (max-width:600px) {
ul.flickrSet li {float:left; width:48%; padding:1%; margin:0;}
ul.flickrSet li a.flickrImageLink {height:200px;}
}
@media all and (max-width:320px) {
ul.flickrSet li {float:left; width:48%; padding:1%; margin:0;}
ul.flickrSet li a.flickrImageLink {height:130px;}
}