html { 
  background: url(../images/blue-tele-tree-web.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, p, a {
	color: white;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	padding-left:3vw;
	font-weight: normal;
}

#webpage {
	position:absolute;
	top: 23%;
	left: 0%;
	width: 100%;
	background-color: rgba(0,0,0,0.42);
	background: -webkit-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,0.42)); /*Safari 5.1-6*/
	background: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.42)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.42)); /*Fx 3.6-15*/
	background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.42)); /*Standard*/
}

h1 {
	letter-spacing: calc(13px + 2vw);
	padding-bottom: 0px;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.jumbotron {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0px;
	border-bottom: 0px solid #dbdbdb;
	position: relative;
	top: 0px;
}